*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#follow-page{
    height: 100vh;
    width: 100%;
    background-color:rgba(128, 128, 128, 0.151);
    display: flex;
    justify-content: center;
    align-items: center;

}
#follow{
    height: 70vh;
    width: 25vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}  
#location{
    position: absolute;
    top:3rem;
}
#location input{
    height:2em ;
    width: 15rem;
}
#waring{
    height:3rem ;
    width: 20rem;
    /* background-color:rgba(128, 128, 128, 0.151);  */
    display: flex;
    position: relative;
    top:2rem;
    gap:3px;
}

#Recommend{
    height: 5vh;
    width: 60%;
    /* background-color:rgba(128, 128, 128, 0.151); */
    display: flex;
    position: relative;
    top:3rem;
    gap:5px;

}
#followers{
    height: 20rem;
    width: 20rem;
    /* background-color:rgba(128, 128, 128, 0.151); */
    position: relative;
    top:4rem;
}
.box{
    height:4rem ;
    width: 20rem;
    /* background-color:rgba(128, 128, 128, 0.151); */
    position: relative;
}
.profile{
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    /* background-color: rgba(128, 128, 128, 0.151);; */
    position: absolute;
    top:10px;
    background-image: url(profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.para{
    position: absolute;
    left:4rem;
    top:2rem;
}
.btn1{
    position: absolute;
    right: 5px;
    top:12px;
    height: 3rem;
    width: 5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    /* background-color: rgba(128, 128, 128, 0.434); */
}
a{
    text-decoration:none;
}
















